# Exploratory Data Analysis with SparkR

[**Introduction to Apache Spark with R by J. A. Dianes**](https://github.com/jadianes/spark-r-notebooks)

In this notebook we will use all the SparkSQL operation we learned before in order to explore property value reltion with other variables in the [2013 American Community Survey](http://www.census.gov/programs-surveys/acs/data/summary-file.html) dataset. The whole point of R on Spark is to introduce Spark scalability into R data analysis pipelines. With this idea in mind, we have seen how [SparkR documentation](http://spark.apache.org/docs/latest/sparkr.html) introduces data types and functions that are very similar to what we are used to when using regular R. We will combine these with [ggplot2](http://ggplot2.org) in order to explore relationships between our varaibles. We will explain what we do at every step but, if you want to go deeper into `ggplot2` for exploratory data analysis, I did this [Udacity on-line course](https://www.udacity.com/course/data-analysis-with-r--ud651) in the past and I highly recommend it! 

So let's dive into it!

## Creating a SparkSQL context and loading data

In order to explore our data, we first need to load it into a SparkSQL data frame. But first we need to init a SparkSQL context. The first thing we need to do is to set up some environment variables and library paths as follows. Remember to replace the value assigned to `SPARK_HOME` with your Spark home folder.

In [12]:
# Set Spark home and R libs
Sys.setenv(SPARK_HOME='/home/cluster/spark-1.5.0-bin-hadoop2.6')
.libPaths(c(file.path(Sys.getenv('SPARK_HOME'), 'R', 'lib'), .libPaths()))

Now we can load the `SparkR` library as follows.

In [3]:
library(SparkR)

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    filter, na.omit

The following objects are masked from ‘package:base’:

    intersect, rbind, sample, subset, summary, table, transform

And now we can initialise the Spark context as [in the official documentation](http://spark.apache.org/docs/latest/sparkr.html#starting-up-sparkcontext-sqlcontext). In our case we are use a standalone Spark cluster with one master and seven workers. If you are running Spark in local node, use just `master='local'`. Additionally, we require a Spark package from Databricks to read CSV files (more on this in the [previous notebook](https://github.com/jadianes/spark-r-notebooks/blob/master/notebooks/nb1-spark-sql-basics/nb1-spark-sql-basics.ipynb)).

In [4]:
sc <- sparkR.init(master='spark://169.254.206.2:7077', sparkPackages="com.databricks:spark-csv_2.11:1.2.0")

Launching java with spark-submit command /home/cluster/spark-1.5.0-bin-hadoop2.6/bin/spark-submit  --packages com.databricks:spark-csv_2.11:1.2.0 sparkr-shell /tmp/RtmpEC6ItW/backend_port4bd622e97d86

And finally we can start the SparkSQL context as follows.

In [5]:
sqlContext <- sparkRSQL.init(sc)

Now that we have our SparkSQL context ready, we can use it to load our CSV data into data frames. We have downloaded our [2013 American Community Survey dataset](http://www.census.gov/programs-surveys/acs/data/summary-file.html) files in [notebook 0](https://github.com/jadianes/spark-r-notebooks/tree/master/notebooks/nb0-starting-up/nb0-starting-up.ipynb), so they should be stored locally. Remember to set the right path for your data files in the first line, ours is `/nfs/data/2013-acs/ss13husa.csv`.

In [6]:
housing_a_file_path <- file.path('', 'nfs','data','2013-acs','ss13husa.csv')
housing_b_file_path <- file.path('', 'nfs','data','2013-acs','ss13husb.csv')

Now let's read into a SparkSQL dataframe. We need to pass four parameters in addition to the `sqlContext`:  

- The file path.  
- `header='true'` since our `csv` files have a header with the column names. 
- Indicate that we want the library to infer the schema.  
- And the source type (the Databricks package in this case). 

And we have two separate files for both, housing and population data. We need to join them.

In [7]:
housing_a_df <- read.df(sqlContext, 
                        housing_a_file_path, 
                        header='true', 
                        source = "com.databricks.spark.csv", 
                        inferSchema='true')

In [8]:
housing_b_df <- read.df(sqlContext, 
                        housing_b_file_path, 
                        header='true', 
                        source = "com.databricks.spark.csv", 
                        inferSchema='true')

In [9]:
housing_df <- rbind(housing_a_df, housing_b_df)

Let's check that we have everything there by counting the files and listing a few of them.

In [10]:
nrow(housing_df)

[1] 1476313

In [11]:
head(housing_df)

  RT SERIALNO DIVISION PUMA REGION ST  ADJHSG  ADJINC WGTP NP TYPE ACCESS ACR
1  H       84        6 2600      3  1 1000000 1007549    0  1    3     NA  NA
2  H      154        6 2500      3  1 1000000 1007549   51  4    1      1   1
3  H      156        6 1700      3  1 1000000 1007549  449  1    1      3   1
4  H      160        6 2200      3  1 1000000 1007549   16  3    1      3   3
5  H      231        6 2400      3  1 1000000 1007549   52  1    1      3  NA
6  H      286        6  900      3  1 1000000 1007549   76  1    1      1   1
  AGS BATH BDSP BLD BROADBND BUS COMPOTHX CONP DIALUP DSL ELEP FIBEROP FS FULP
1  NA   NA   NA  NA       NA  NA       NA   NA     NA  NA   NA      NA  2   NA
2  NA    1    3   2        2   2        2   NA      2   2  350       1  2    2
3  NA    1    3   2       NA   2        2   NA     NA  NA  300      NA  2    2
4   1    1    4   2       NA   2        2   NA     NA  NA  220      NA  1    2
5  NA    1    1   5       NA  NA        2   NA     NA  NA   60      NA  1    1
6  NA    1    4   2        2   2        2   NA      2   2  100       2  2    2
  GASP HANDHELD HFL INSP LAPTOP MHP MODEM MRGI MRGP MRGT MRGX OTHSVCEX REFR
1   NA       NA  NA   NA     NA  NA    NA   NA   NA   NA   NA       NA   NA
2    3        2   3  350      1  NA     2   NA   NA   NA    3        2    1
3    3        2   3  980      1  NA    NA    1  550    2    1       NA    1
4   20        1   3   NA      2  NA    NA   NA   NA   NA   NA       NA    1
5    3        2   1   NA      2  NA    NA   NA   NA   NA   NA       NA    1
6   90        2   1   50      2  NA     1    2  290    2    1        2    1
  RMSP RNTM RNTP RWAT RWATPR SATELLITE SINK SMP STOV TEL TEN TOIL VACS  VALP
1   NA   NA   NA   NA     NA        NA   NA  NA   NA  NA  NA   NA   NA    NA
2    9   NA   NA    1      9         2    1  NA    1   1   2    1   NA 25000
3    6   NA   NA    1      9        NA    1  NA    1   1   1    1   NA 80000
4    6    2  100    1      9        NA    1  NA    1   1   3    1   NA    NA
5    3    2   80    1      9        NA    1  NA    1   1   3    1   NA    NA
6    9   NA   NA    1      9         2    1  NA    1   1   1    1   NA 18000
  VEH WATP YBL FES FFINCP FGRNTP FHINCP  FINCP FPARC FSMOCP GRNTP GRPIP HHL HHT
1  NA   NA  NA  NA     NA     NA     NA     NA    NA     NA    NA    NA  NA  NA
2   3  480   2   1      1     NA      1 151000     4      0    NA    NA   1   1
3   1  700   5  NA      0     NA      1     NA    NA      1    NA    NA   1   6
4   2  360   6   8      1      0      1  11400     2     NA   370    39   1   3
5   0    1   5  NA      0      0      0     NA    NA     NA   140    43   1   6
6   1  370   2  NA      0     NA      1     NA    NA      1    NA    NA   1   6
   HINCP HUGCL HUPAC HUPAOC HUPARC KIT LNGI MULTG MV NOC NPF NPP NR NRC OCPIP
1     NA    NA    NA     NA     NA  NA   NA    NA NA  NA  NA  NA NA  NA    NA
2 151000     0     4      4      4   1    1     1  6   0   4   0  0   0     3
3  39930     0     4      4      4   1    1     1  7   0  NA   0  0   0    28
4  11400     1     2      4      2   1    1     1  4   0   3   1  0   1    NA
5   3900     0     4      4      4   1    1     1  6   0  NA   0  0   0    NA
6   5400     0     4      4      4   1    1     1  7   0  NA   0  0   0   101
  PARTNER PLM PSF R18 R60 R65 RESMODE SMOCP SMX SRNT SSMC SVAL TAXP WIF WKEXREL
1      NA  NA  NA  NA  NA  NA      NA    NA  NA   NA   NA   NA   NA  NA      NA
2       0   1   0   0   0   0       2   426  NA    0    0    1    3   2       1
3       0   1   0   0   1   0       2   926   3    0    0    1    6  NA      NA
4       0   1   0   1   1   0       2    NA  NA    0    0    0   NA   1      15
5       0   1   0   0   1   1       1    NA  NA    1    0    0   NA  NA      NA
6       0   1   0   0   1   1       1   522   3    0    0    1    3  NA      NA
  WORKSTAT FACCESSP FACRP FAGSP FBATHP FBDSP FBLDP FBROADBNDP FBUSP FCOMPOTHXP
1       NA       NA    NA    NA     NA    NA    NA         NA    NA         NA
2        1        0     0     0      0     0     0          0     0          0
3       NA        0     0     0      0     0     0          0     0          0
4       15        0     1     1      0     0     0          0     0          0
5       NA        0     0     0      0     0     0          0     0          0
6       NA        0     1     0      0     0     1          1     1          1
  FCONP FDIALUPP FDSLP FELEP FFIBEROPP FFSP FFULP FGASP FHANDHELDP FHFLP FINSP
1    NA       NA    NA    NA        NA    0    NA    NA         NA    NA    NA
2     0        0     0     0         0    0     0     0          0     0     1
3     0        0     0     0         0    0     0     0          0     0     1
4     0        0     0     0         0    0     0     0          0     0     0
5     0        0     0     0         0    0     0     0          0     0     0
6     0        1     1     1         1    0     1     1          1     0     1
  FKITP FLAPTOPP FMHP FMODEMP FMRGIP FMRGP FMRGTP FMRGXP FMVP FOTHSVCEXP FPLMP
1    NA       NA   NA      NA     NA    NA     NA     NA    0         NA    NA
2     0        0    0       0      0     0      0      0    0          0     0
3     0        0    0       0      1     1      1      1    1          0     0
4     0        0    0       0      0     0      0      0    0          0     0
5     0        0    0       0      0     0      0      0    0          0     0
6     0        1    0       1      1     1      1      1    0          1     0
  FREFRP FRMSP FRNTMP FRNTP FRWATP FRWATPRP FSATELLITEP FSINKP FSMP FSMXHP
1     NA    NA     NA    NA     NA       NA          NA     NA   NA     NA
2      0     0      0     0      0        0           0      0    0      0
3      0     0      0     0      0        0           0      0    1      1
4      0     0      0     0      0        0           0      0    0      0
5      0     0      0     0      0        0           0      0    0      0
6      0     0      0     0      0        0           1      0    1      1
  FSMXSP FSTOVP FTAXP FTELP FTENP FTOILP FVACSP FVALP FVEHP FWATP FYBLP wgtp1
1     NA     NA    NA    NA    NA     NA     NA    NA    NA    NA    NA     0
2      0      0     1     0     0      0      0     0     0     0     0    45
3      1      0     1     0     1      0      0     1     0     0     0   481
4      0      0     0     0     0      0      0     0     0     0     0    21
5      0      0     0     0     0      0      0     0     0     0     0    74
6      1      0     1     0     1      0      0     1     0     1     0    84
  wgtp2 wgtp3 wgtp4 wgtp5 wgtp6 wgtp7 wgtp8 wgtp9 wgtp10 wgtp11 wgtp12 wgtp13
1     0     0     0     0     0     0     0     0      0      0      0      0
2    52    53    50   100    79    78    50    19     57     89     46     67
3   576   807   739   154   173   722   455   157    671    681    470    403
4    14     6    20    30    16     5    25     4     27     11     28     14
5    50    43    13    12   102    80    20    60     98     17     18     52
6    69    19   118    91    77    20    76    73    180     68     78     24
  wgtp14 wgtp15 wgtp16 wgtp17 wgtp18 wgtp19 wgtp20 wgtp21 wgtp22 wgtp23 wgtp24
1      0      0      0      0      0      0      0      0      0      0      0
2    109     51     18     17     18     47     87     49     50     49     64
3    118    339    436    443    393    160    411    468    387    127    150
4     15     27     40     31      4     16     20      9     26     39     32
5     45     95     57     46     75     47     54     16     43     57    122
6    131    136     73    143     82     26     67     21     27     63     74
  wgtp25 wgtp26 wgtp27 wgtp28 wgtp29 wgtp30 wgtp31 wgtp32 wgtp33 wgtp34 wgtp35
1      0      0      0      0      0      0      0      0      0      0      0
2     13     16     16     55     86     48     14     49     50     11     56
3    553    514    133    613    562    151    196    432    577    710    378
4     38      9     15      6     19     22      5     16      3     27     21
5     93     17     13     61     59     23     82     69     50     55     20
6     24    119     87    126    131     67    130     30     79     81     70
  wgtp36 wgtp37 wgtp38 wgtp39 wgtp40 wgtp41 wgtp42 wgtp43 wgtp44 wgtp45 wgtp46
1      0      0      0      0      0      0      0      0      0      0      0
2     83     71    108     54     81     43     53     50     63     17     15
3    481    504    531    760    409    560    404    637    516    101    150
4     33     14     11      6     31     10     21     22     11      8     22
5     59     62     44     38     40     16     47     40    107     88     16
6     19     94    119     65     23     84     83     23    111     70     73
  wgtp47 wgtp48 wgtp49 wgtp50 wgtp51 wgtp52 wgtp53 wgtp54 wgtp55 wgtp56 wgtp57
1      0      0      0      0      0      0      0      0      0      0      0
2     15     47     88     47     14     52     51     20     53     84     78
3    659    454    179    793    724    451    527    168    355    445    465
4     27     16     30      6     28      9     17     12     23      3      4
5     14     86     59     16     92    113     61     64     14     74     48
6     22     86     69    123     91     75     28    138     98     69    121
  wgtp58 wgtp59 wgtp60 wgtp61 wgtp62 wgtp63 wgtp64 wgtp65 wgtp66 wgtp67 wgtp68
1      0      0      0      0      0      0      0      0      0      0      0
2     74     53     15     54     55     58     65    110     82     89     50
3    426    228    575    386    433    167    230    797    572    155    556
4     38     15     17     33      8     10      7      7     21     22     19
5     43     53     50     83     47     51     15     16     93     95     15
6     87     23     67     18     24     77     62     28    125     72    121
  wgtp69 wgtp70 wgtp71 wgtp72 wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79
1      0      0      0      0      0      0      0      0      0      0      0
2     12     55     86     53     59     84     49     15     15     20     50
3    596    170    161    530    601    579    341    378    387    421    621
4     12     11     31     24     33      7      7     13     18     23     23
5     47    106     21     18     37     49    103     38     49     51     46
6    135    100    128     25     68     66     80     26     66    164     88
  wgtp80
1      0
2     16
3    486
4      5
5     47
6     24

## Exploring property value

From our [data dictionary](http://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMSDataDict13.txt) we know that the variable `VALP` represents a property value. Our goal in this notebook is to explore this variable, specially what other variables might have certain relationship with it. 

A possible way of doing this is to calculate correlation values between `VALP` and any other variable in the 230 set of them. For this we need numeric variables, and most of our dataset features are not numeric. There are other ways of doing this for categorical values but in our case we will use a more informal approach.  

First we will have a look at the dictionary and extract a list of candidates that to our knowledge could influence a propery value. Then we will use aggregations, tables, and plots, to explore relationships. The process won't be exhaustive but will show how to do this kind of analysis. Actually we won't to make this notebook so long, so we wil be fine with a reduced list of candidates. Hopefully we will get a list of variables to be used in a predictive linear model in further notebooks.

These are the 16 variables we will consider:  

- `ST`: state code, as the main geographical variable, since it someway includes region and department.  
- `ACR`: Lot size:           
  - b:  N/A (GQ/not a one-family house or mobile home)
  - 1:  House on less than one acre
  - 2:  House on one to less than ten acres 
  - 3:  House on ten or more acres
- `BLD`:
- `RMSP`: 
- `VACS`:
- `YBL`:
- A series of facilities variables:
  - `ACCESS`: Access to the Internet
           b .N/A (GQ)
           1 .Yes, with subscription to an Internet service
           2 .Yes, without a subscription to an Internet service
           3 .No Internet access at this house, apartment, or mobile home
  - `BATH`
  - `RWAT`
  - `PLM`
  - `TEL`
  - `TOIL`
- A series of cost-related variables:
  - `ELEP`:
  - `FULP`:
  - `GASP`:
  - `WATP`:

### Exploring property value by state using ggplot maps

To create a map of the United States with the states colored according to `VALP`, we can use ggplot2's `map_data` function. This functionality requires the [R package *maps*](https://cran.r-project.org/web/packages/maps/index.html), that you might need to install from the R shell.

In [45]:
# you might need to install maps by running from the R console:
# install.packages("maps")

library(ggplot2)

states_map <- map_data("state")

Our map contains a series of geometric shapes, latitudes, codes, and region names.

In [47]:
str(states_map)

'data.frame':	15537 obs. of  6 variables:
 $ long     : num  -87.5 -87.5 -87.5 -87.5 -87.6 ...
 $ lat      : num  30.4 30.4 30.4 30.3 30.3 ...
 $ group    : num  1 1 1 1 1 1 1 1 1 1 ...
 $ order    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ region   : chr  "alabama" "alabama" "alabama" "alabama" ...
 $ subregion: chr  NA NA NA NA ...

The `region` variable there is the state name in the case of the *state* map, corresponding to the US states. We will need to match that with our housing dataset state code some way. But let's first reduce the housing dataset to what we want to represent in the map.

The dataset we want to visualise is the average property value by state. We can use SparkR as follows.

In [41]:
housing_avg_valp <- collect(
    agg(
        groupBy(housing_df, "ST"),
        AVG_VALP=avg(housing_df$VALP)
    )
)

In [42]:
head(housing_avg_valp)

  ST AVG_VALP
1 31 141933.6
2 32 208622.0
3 33 267999.0
4 34 372496.1
5 35 194513.9
6 36 360343.5

And then we are ready to merge the dataset with the map as follows.

In [ ]:
merged_data <- merge(states_map, housing_avg_valp, by="REGION")

In [35]:
ggplot(MergedData, aes(x = long, y = lat, group = group, fill = Variable1)) + geom_polygon(color = "black")

ERROR: Error in merge(statesMap, Dataset, by = "region"): error in evaluating the argument 'x' in selecting a method for function 'merge': Error: object 'statesMap' not found

ERROR: Error in ggplot(MergedData, aes(x = long, y = lat, group = group, fill = Variable1)): object 'MergedData' not found